<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="google-signin-client_id" content="132459638423-pv6virjjuei831avl2q9lo92f4719ej8.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous" />
  <script src="https://apis.google.com/js/platform.js" async defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="assets/javascript/display.js"></script>

  <script src="assets/javascript/app.js"></script>
  <link rel="stylesheet" href="assets/css/style.css" />

  <title>Quote</title>
</head>

<body>
  {{{ body }}}
</body>

</html>