<script src="assets/javascript/login.js"></script>

<header class="page_header flex-row">
    <h1 class="page_title">Quote</h1>
    <input class="search-bar" placeholder="Search" />
    <div class="navigations">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <span class="home-login">Login</span>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
</header>


<section class="page">

    <div class="container flex-row">
        <div class="container-right flex-column">

        </div>
        <div class="container-center flex-column">
            <h1 class="flex-column home-welcome-header">Welcome to Quote!</h1>
            <br>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>

        </div>
        <div class="container-left flex-column">

        </div>
    </div>
</section>